{% extends "ModuleRegistrationSystem/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        
    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
        <div class="form-floating mb-3">
            {{ form | crispy }}
        </div>
        <div class="d-none" id="submitSuccessMessage">
            <div class="text-center mb-3">
                <br />
                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
            </div>
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">Need to create an account?<a class="ml-2" href="{% url 'register' %}">Register</a></small>
            <small class="text-muted">Forgotton your Password?<a class="ml-2" href="{% url 'password_reset' %}">Reset Password</a></small>
        </div>

        <div class="d-grid"><button class="btn btn-outline-info" type="submit">Login</button>

    </form>

{% endblock content %}