{% extends "ModuleRegistrationSystem/base.html" %}
{% block content %}

<body>

    <h1>About Us</h1>

    <b>Sheffield Hallam University</b>

    <p></p>
    Sheffield Hallam University, located in the vibrant city of Sheffield, 
    is a leading institution committed to providing a transformative and inclusive 
    educational experience. With a rich history dating back to 1843, the university
    has evolved into a dynamic and innovative hub for learning, research, and 
    professional development.

    At Sheffield Hallam, we take pride in our dedication to student success, offering a 
    diverse range of undergraduate and postgraduate programs designed to meet the demands 
    of today's rapidly changing world. Our faculty consists of accomplished academics 
    and industry professionals, ensuring that students receive a cutting-edge education 
    that prepares them for real-world challenges.
    
    We embrace a collaborative and forward-thinking approach, fostering an environment 
    where creativity and critical thinking thrive. Our state-of-the-art facilities 
    and strong connections with industry partners provide students with valuable 
    hands-on experience and networking opportunities, enhancing their employability 
    upon graduation
{% endblock content %}