{% extends "ModuleRegistrationSystem/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<section class="py-5">
    <div class="container px-5">
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h1 class="fw-bolder">Module Registration System </h1>
                <p class="lead fw-normal text-muted mb-0">Contact Us!</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                <div class="content-section">
                    <form method="POST">
                        {% csrf_token %}
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <div class="form-floating mb-3">
                                {{ form | crispy }}
                            </div>
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <div class="d-grid"><button class="btn btn-outline-info" type="submit">Submit</button>
                        </form>
{% endblock content %}

